/* Sidebar.css */
.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  
  .main-content {
    margin-left: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none; /* This removes the dots */
    padding: 0;
    text-align: center;
  }
  
  .sidebar ul li {
    margin-bottom: 20px; /* This adds a gap between the icons */
  }
  
  .sidebar .icon {
    font-size: 30px; /* This increases the size of the icons */
    margin-right: 15px; /* This adds a gap between the icons and the text */
  }